{{ define "main" }}
<main
  class="prose prose-neutral dark:prose-invert relative mx-auto min-h-[calc(100vh-9rem)] max-w-(--w) px-8 pt-14 pb-16"
>

  <!-- ====================== CUSTOM HOMEPAGE CONTENT STARTS HERE ====================== -->

  <h1 class="text-5xl font-semibold tracking-tight">
Hey, I'm <span class="signature-name">Aravind Prakashan</span> 👋
</h1>

<p class="text-xl text-neutral-600 dark:text-neutral-400 mt-2">
Welcome to theupperman.in - my personal internet space.</br>
This website is a collection of my writings on ideas that interest me.
</p>

<img src="/images/pepe.png" alt="Pepe" style="width: 150px; height: auto;">
 
  <!-- Add anything else: buttons, social links, newsletter, etc. -->

  <!-- ====================== YOUR CUSTOM HOMEPAGE CONTENT ENDS HERE ====================== -->

</main>
{{ end }}
